/* Reset  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global style rules */
body {
  height: 100%;
  font-family: 'Open sans', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
}

.topnav a,
#main-heading,
.subheading,
a.btn,
.white-section,
#footer,
footer a,
footer span,
.contact-us,
h3.contact-subheading,
.contact-button,
.footer-tagline {
  color: #ffffff;
}

p,
.content-heading,
#up-arrow a.btn,
section#resources h4,
.list-container a,
.community-meetups h3,
#meetup p a,
.community-social h3,
span a,
table {
  color: #000000;
}

.topnav,
.down-button,
#up-arrow,
.contact-container,
#footer {
  width: 100%;
}

.topnav a,
#background,
.main-heading,
.down-button,
.container-fluid,
.white-section,
#resources,
#meetups,
#community,
h3.contact-subheading {
  text-align: center;
}

.list-container a,
.user-email,
.contact-button {
  padding: 3px 15px;
}

.contact-content,
.user-email {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.topnav a:hover,
a.btn:hover,
div.list-container a:hover,
#meetup p a:hover,
span a:hover,
#up-arrow a.btn:hover,
#email:hover {
  color: #ff4f00;
}

h3.subheading,
div.list-container {
  margin-top: 40px;
}

.topnav,
#background {
  top: 0;
}

.main-heading,
.down-button,
h3.contact-subheading,
.contact-container,
.contact-content,
.user-email,
.contact-button,
.contact-container {
  position: absolute;
}

#background,
.img1,
.img2,
.img3 {
  background-position: center;
  background-size: cover;
}

.contact-button,
#footer {
  background-color: #000000;
}

.topnav a:hover,
.list-container a:hover {
  border: 1px solid #ff4f00;
}

#background,
.white-section {
  height: 100vh;
}

section li,
.community-social p {
  margin-top: 20px;
}

.main-heading,
h3.contact-subheading {
  left: 30%;
}

.main-heading,
h3.contact-subheading {
  right: 30%;
}

/* End of global style rules  */
.topnav {
  position: sticky;
  z-index: 3;
}

.topnav a {
  float: right;
  display: block;
  right: 15px;
  margin-right: 5px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1rem;
}

#background {
  background: url('../assets/windmill.jpg') no-repeat;
  background-size: cover;
  filter: brightness(50%);
  margin: auto;
}

.main-heading {
  top: 20%;
}

h1#main-heading,
h3#tagline {
  z-index: 5;
}

.subheading {
  margin-bottom: 15px;
}

h3.subheading {
  font-style: italic;
  font-size: 20px;
}

.down-button {
  top: 75%;
  z-index: 3;
}

.list-container a {
  margin: 40px;
  text-decoration: none;
}

.container-fluid {
  margin: 0 auto;
  padding: 3% 15%;
}

/* Content sections */
.section-heading {
  font-size: 3rem;
}

.white-section {
  background-color: #fff;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.img1 {
  background-image: url('../assets/tulips.jpg');
  min-height: 90vh;
}

.img2 {
  background-image: url('../assets/bikes.jpg');
  min-height: 90vh;
}

.img3 {
  background-image: url('../assets/canal.jpg');
  min-height: 90vh;
}

.img1,
.img2,
.img3 {
  position: relative;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Resources style rules  */
div.list-container {
  margin-bottom: 40px;
}

section li {
  list-style: none;
}

div.container h4 {
  margin: 20px 0;
}

section#resources p {
  margin-top: 50px;
}

#books,
#videos,
#apps {
  display: inline-block;
}

/* Meetup styles  */
.community-meetups h3 {
  margin-bottom: 30px;
}

#meetup p a {
  text-decoration: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

p.alt-meetup-info {
  visibility: hidden;
}

/* Community section style rules  */
.community-social {
  margin: 30px 0;
}

.community-social h3 {
  margin: 15px 0;
}

.community-social p {
  margin-bottom: 30px;
}

.social {
  margin-top: 60px;
}

span a {
  margin-left: 10px;
}

/* Up-arrow button styles */
#up-arrow {
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 50px;
  z-index: 3;
}

/* Contact section style  */
h3.contact-subheading {
  font-size: 1.5rem;
  top: 3650px;
  z-index: 2;
}

.contact-container {
  top: 950px;
}

.contact-content {
  font-weight: 600;
  top: 3750px;
  width: 60%;
}

.user-email {
  top: 3950px;
  width: 250px;
}

.contact-button {
  left: 23%;
  right: 0;
  margin: 0 auto;
  top: 3950px;
}

.contact-button:hover {
  background-color: #ff4f00;
}

/* Footer style rules  */
#footer {
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  text-align: center;
  z-index: 5;
}

.footer-tagline {
  display: inline;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 10%;
}

#address {
  float: left;
  margin-left: 7%;
  width: 20%;
}

#email {
  float: right;
  margin-right: 2%;
  width: 20%;
}

footer a {
  text-decoration: none;
}

/* Device media queries style rules */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}

@media (max-width: 550px) {
  /* Parallax background */
  .img1,
  .img2,
  .img3 {
    background-attachment: scroll;
  }

  .img-text {
    font-size: 1rem;
    letter-spacing: normal;
  }

  /* Meetup */
  div p.alt-meetup-info {
    visibility: hidden;
  }

  /* Contact section style rules */
  .contact-container {
    top: 770px;
  }

  .contact-subheading {
    margin-top: 10px;
  }

  .contact-content {
    font-size: 0.75rem;
    bottom: 2000px;
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  /* Heading element styles */
  .main-heading {
    font-size: 6rem;
    position: absolute;
    top: 40%;
    left: 1%;
    text-align: center;
    width: 100%;
  }

  .topnav a {
    display: block;
    margin-top: 1%;
    width: 100%;
  }

  #tagline {
    font-size: 10px;
    margin-top: 30px;
  }

  .white-section {
    height: 50%;
  }

  /* Section content styles */
  #resources {
    overflow: scroll;
    text-align: center;
  }

  #resources ul {
    text-align: center;
  }

  div.list-container h4 {
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 25%;
    width: 65%;
  }

  #resources,
  #meetups,
  #community {
  }

  section li {
    width: 100%;
  }

  #resources div.list-container h4 {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
  }

  /* Community section style rules */
  .community-meetups h3 {
    margin: 60px 0;
  }

  div p.alt-meetup-info {
    visibility: visible;
  }

  .alt-meetup-info {
    font-size: 0.9rem;
    width: 100%;
  }

  /* Table styles */
  table {
    visibility: hidden;
  }

  div.social {
    font-size: 5px;
    margin-top: 5px;
  }

  /* User input style rules  */
  .contact-container {
    top: 1095px;
  }

  .user-email,
  .contact-button {
    top: 3930px;
  }

  .contact-content {
    bottom: 2230px;
  }

  .contact-button {
    left: 40%;
  }

  .user-email {
    right: 23%;
    width: 150px;
  }

  /* Footer styling rules */
  footer span {
    font-size: 4px;
    text-decoration: none;
  }

  .footer-tagline {
    width: 3%;
  }

  span a,
  span address {
    margin-top: 14px;
    width: 2%;
  }

  #address {
    float: left;
    margin-left: 6%;
  }

  #email {
    float: right;
    margin-right: 2%;
  }
}
