#background {
  background: url('./assets/windmill.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: auto;
  margin-top: 0;
  text-align: center;
  top: 0;
}

.img1 {
  background-image: url('./assets/tulips.jpg');
  min-height: 90vh;
}
.img2 {
  background-image: url('./assets/bikes.jpg');
  min-height: 60vh;
}
.img3 {
  background-image: url('./assets/canal.jpg');
  min-height: 60vh;
}
